<form action="/create-user" method="post" class="radius">
    <div>
        <div class="input-con">
            <input class="radius" type="text" name="firstname" placeholder="Enter Firstname">
            <input class="radius" type="text" name="middlename" placeholder="Enter Middlename">
            <input class="radius" type="text" name="lastname" placeholder="Enter Lastname">
            <input class="radius" type="text" name="suffix" placeholder="Enter Suffix">    
        </div>
        <div class="input-con">
            <input class="radius" type="text" name="username" placeholder="Enter Username">
            <input class="radius" type="email" name="email" placeholder="Enter Email">
            <input class="radius" type="password" name="password" placeholder="Enter Password">
            <select class="radius"  name="role">
                <option disabled value="Admin">Admin</option>
                <option selected value="Employee">Employee</option>
            </select>
        </div>
    </div>
    <button class="radius" type="submit">Submit</button>
</form>