{% extends 'layout.html' %}
{% block body %}
<section id="manage-inventory">
    <div class="header radius">
        <h1>INVENTORY MANAGEMENT</h1>
        <a href="/dashboard" class="btn radius">Back</a>
    </div>
    <div class="table-wrapper radius">
        <table class="">
            <thead>
                <tr>
                    <th class="radius item-col">Item</th>
                    <th class="radius">Stock In</th>
                    <th class="radius">Stock Out</th>
                    <th class="radius">Stock Balance</th>
                </tr>
            </thead>
            <tbody class="radius">
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
                <tr>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                    <td class="radius">SAMPLE</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-con">
        <a href="#" id="add-item-btn" class="btn radius">Add Item</a>
        <a href="#" class="btn radius">Save to Excel</a>
    </div>
    <div id="add-item-modal" class="radius">
        <span class="close">X</span>
        <form action="/manage-inventory" class="radius">
            <input type="text" placeholder="Add Item" class="radius">
            <button type="submit" class="radius">Add</button>
        </form>
    </div>
</section>
<script src="static/js/manage-inventory.js"></script>
{% endblock %}