{% extends 'layout.html' %}
{% block body %}
<section id="manage-records">
    <div>
        <div class="header radius">
            <a href="/qr-code-scanner" class="btn radius">Scan QR Code</a>
            <a href="#" class="btn radius yellow">Download Excel</a>
            <a href="/dashboard" class="btn radius">Back</a>
        </div>
        <div class="body radius">
            <div class="table-wrapper radius">
                    <table class="">
                        <thead>
                            <tr>
                                <th class="radius">Name of Employee</th>
                                <th class="radius">QR Code</th>
                            </tr>
                        </thead>
                        <tbody class="radius">
                            <!-- <tr>
                                <td class="radius">SAMPLE</td>
                                <td class="radius">SAMPLE</td>
                            </tr> -->
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.lastname }}, {{ user.firstname }} {{ user.middlename }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('static', filename=user.qr_code_path.split('static/')[1].replace('\\', '/')) }}">
                                            <img src="{{ url_for('static', filename=user.qr_code_path.split('static/')[1].replace('\\', '/')) }}" alt="QR Code" width="100" height="100">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="table-wrapper radius">
                    <table class="">
                        <thead>
                            <tr>
                                <th class="radius">Attendance Record</th>
                            </tr>
                        </thead>
                        <tbody class="radius">
                            {% for i in dates %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('main.render_users_without_checkout', date=i) }}">
                                            {{ i.strftime('%B %d, %Y') }}
                                        </a>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}